<!--ADD ITEM FORM-->
<form name="todoForm">

    <div>
        <input type="text"
               name="todoNameField"
               ng-model="todoName"
               placeholder="Add new task"
               required ng-minlength="3"
               class="form-control"
               ng-keyup="($event.keyCode == 13 && todoName.length > 2) ? addItem() : return"
                />

        <button ng-click="addTodo()"
                ng-hide="myForm.todoNameField.$invalid"
                class="btn btn-primary" type="button"
                >Save Todo
        </button>
    </div>

</form>

<h4 ng-show="(todos | filter:{status: 'complete'}).length">Completed</h4>

<div ng-repeat="todo in todos | filter:{status: 'complete'}"
     class="row list-item bg-success">

    <div class="col-md-6">

        <!--TODO LABEL-->
        <span>{{todo.name}}</span>
    </div>
    <div class="col-md-6 text-right">

        <!--DELETE TODO BUTTON-->
        <a class="btn btn-danger"
           ng-click="removeTodo($index, todo)">
            <i class="glyphicon glyphicon-remove"></i> Remove
        </a>

    </div>

</div>

<div ui-view></div>